<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Hyperdrive</title>
    <link href="/css/output.css" rel="stylesheet" />
     {{!-- body { background-image:url('https://giphy.com/embed/3o7abpY5MuMIXO0WOY'); } --}}
     {{!-- <iframe src="https://giphy.com/embed/3o7abpY5MuMIXO0WOY" width="480" height="239" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/starwars-movie-star-wars-3o7abpY5MuMIXO0WOY">via GIPHY</a></p> --}}
</head>

<body>
    <header id="header">
      {{#if logged_in}}
    <div>
    <a id="logout-icon" href="#" class="logout-btn">Logout</a>
    </div>
      {{/if}}
</header>
    <main>
        {{{body}}}
    </main>
    {{!-- add js script  --}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>