<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Destination</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
    <section>
  <div>
    <h6>Missions Count:</h6>
    <p><span id="mission-count"></span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <h6>Missions Success:</h6>
    <p><span id="mission-success"></span></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <h6>Don't Panic</h6>
</section>
<section>
  <button type="submit" class=""><a class="link" href="/captainslog">Captains Log</a></button>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>


{{!-- enter in script --}}
<script src=""></script>