<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Destination</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
  <div class="dropdown">
  <button class="dropbtn">Instant Planet Destination</button>
  <div class="dropdown-content">
    <a href="#" planet-data-name="Gliese 173 b" >Gliese 176 b</a>
    <a href="#" planet-data-name="CoRoT-2b" >CoRoT-2b</a>
    <a href="#" planet-data-name="CoRoT-3b">CoRoT-3b</a>
    <a href="#" planet-data-name="CoRoT-4b">CoRoT-4b</a>
    <a href="#" planet-data-name="Beta Pictoris b">Beta Pictoris b</a>
    <a href="#" planet-data-name="CT Chamaeleontis b">CT Chamaeleontis b</a>
    <a href="#" planet-data-name="CoRoT-1b">CoRoT-1b</a>
    <a href="#" planet-data-name="Rho Coronae Borealis b">Rho Coronae Borealis b</a>
    <a href="#" planet-data-name="55 Cancri e">55 Cancri e</a>
    <a href="#" planet-data-name="55 Cancri b">55 Cancri b</a>
    <a href="#" planet-data-name="2MASS J2126-8140">2MASS J2126-8140</a>
    <a href="#" planet-data-name="2MASS J21402931+1625183 b">2MASS J21402931+1625183 b</a>
    <a href="#" planet-data-name="TYC 3667-1280-1 b">TYC 3667-1280-1 b</a>
    <a href="#" planet-data-name="TYC 8998-760-1 c">TYC 8998-760-1 c</a>
    <a href="#" planet-data-name="V1298 Tauri b">V1298 Tauri b</a>
  </div>
</div>
</header>

{{!-- add in possible chance of space event occuring??? --}}


    <section>
  <div>
    <h6>Missions Count:</h6>
    <p><span id="mission-count"></span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <h6>Missions Success:</h6>
    <p><span id="mission-success"></span></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <h6>Don't Panic</h6>
</section>
<section>
  <button type="submit" class=""><a class="link" href="/captainslog">Captains Log</a></button>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>


{{!-- enter in script --}}
<script src=""></script>

</body>