
    <section>
      <div> 
        <h6>Mission Count:</h6>
        <p></p>{{!-- insert info from ++ --}}
      </div>   
      <div> 
        <h6>Mission Success:</h6>
        <p></p>{{!-- insert info from ++ --}}
      </div>   
    </section>
    <section>
        <h6>Don't Panic</h6>
        <p></p>{{!-- insert info from ++ --}}
    </section>
    <section>
        <button type="submit" class=""><a class="link" href="captainslog-route">Captains Log</a></button>
        {{!-- make this into a link to go to the captainslog handlebar? --}}
    </section>


{{!-- enter in script --}}
<script src=""></script>