{{!-- cockpit view point with dashboard --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
  <div class="dropdown">
  <button class="dropbtn">Instant Planet Destination</button>
  <div class="dropdown-content">
    <a href="#">Gliese 176 b</a>
    <a href="#">CoRoT-2b</a>
    <a href="#">CoRoT-3b</a>
    <a href="#">CoRoT-4b</a>
    <a href="#">Beta Pictoris b</a>
    <a href="#">CT Chamaeleontis b</a>
    <a href="#">CoRoT-1b</a>
    <a href="#">Rho Coronae Borealis b</a>
    <a href="#">55 Cancri e</a>
    <a href="#">55 Cancri b</a>
    <a href="#">2MASS J2126-8140</a>
    <a href="#">2MASS J21402931+1625183 b</a>
    <a href="#">TYC 3667-1280-1 b</a>
    <a href="#">TYC 8998-760-1 c</a>
    <a href="#">V1298 Tauri b</a>
  </div>
</div>
</header>
<section>
  <div>
    <h6>Missions Count:</h6>
    <p><span id="mission-count"></span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <h6>Missions Success:</h6>
    <p><span id="mission-success"></span></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <h6>Don't Panic</h6>
</section>
<section>
  <button type="submit" class=""><a class="link" href="/captainslog">Captains Log</a></button>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>

<section>
  <button type="submit" class=""><a class="link" href="/hyperspace">Recieve Mission</a></button>
</section>

{{!-- enter in script --}}
<script src=""></script>

</body>