{{!-- cockpit view point with dashboard --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header id="dropdown">
  <div class="dropdown">
  <button class="dropbtn">Instant Planet Destination</button>
  <div class="dropdown-content planet-choice">
  <a id="1" href="#" planet-data-name="Gliese 173 b" >Gliese 176 b</a>
  <a id="2" href="#" planet-data-name="CoRoT-2b" >CoRoT-2b</a>
  <a id="3" href="#" planet-data-name="CoRoT-3b">CoRoT-3b</a>
  <a id="4" href="#" planet-data-name="CoRoT-4b">CoRoT-4b</a>
  <a id="5" href="#" planet-data-name="Beta Pictoris b">Beta Pictoris b</a>
  <a id="6" href="#" planet-data-name="CT Chamaeleontis b">CT Chamaeleontis b</a>
  <a id="7" href="#" planet-data-name="CoRoT-1b">CoRoT-1b</a>
  <a id="8" href="#" planet-data-name="Rho Coronae Borealis b">Rho Coronae Borealis b</a>
  <a id="9" href="#" planet-data-name="55 Cancri e">55 Cancri e</a>
  <a id="10" href="#" planet-data-name="55 Cancri b">55 Cancri b</a>
  <a id="11" href="#" planet-data-name="2MASS J2126-8140">2MASS J2126-8140</a>
  <a id="12" href="#" planet-data-name="2MASS J21402931+1625183 b">2MASS J21402931+1625183 b</a>
  <a id="13" href="#" planet-data-name="TYC 3667-1280-1 b">TYC 3667-1280-1 b</a>
  <a id="14" href="#" planet-data-name="TYC 8998-760-1 c">TYC 8998-760-1 c</a>
  <a id="15" href="#" planet-data-name="V1298 Tauri b">V1298 Tauri b</a>
 </div>
</div>
</header>
<section>
  <div>
    <p><span id="mission-count">{{missionCount}}</span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <p><span id="mission-success">{{habitablePlanets}}</span></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <a href="/captainslog" class="link-button">Captain's Log</a>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>

<section>
 <button><a class="link-mission" >Receive Mission</a></button>
</section>

{{!-- enter in script --}}
<script src="../public/js/script.js"></script>
<script src="/js/mission.js"></script>

</body>