{{!-- cockpit view point with dashboard --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<section>
  <div>
    <h6>Mission Count:</h6>
    <p></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <h6>Mission Success:</h6>
    <p></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <h6>Don't Panic</h6>
  <p></p>{{!-- insert info from ++ --}}
</section>
<section>
  <button type="submit" class=""><a class="link" href="captainslog-route">Captains Log</a></button>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>

<section>
  <button type="submit" class=""><a class="link" href="hyperdrive-route">Recieve Mission</a></button>
</section>

{{!-- enter in script --}}
<script src=""></script>