<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space</title>
  <link rel="stylesheet" href="../public/css/">
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/hyperspace.css">

</head>

<body>
  <main>


<section id="lightyears" class="mt-4">
  <h1 class="bg-matrixGreen">Light Years Travelled To Reach Planet</h1>
  <h5 id="countdown1"><span id="countdown" class="{{mission.planet.distance_light_year}}"></span></h5> {{!-- {{lightyears}} --}}
  <button  id="portalButton" type="submit" class="invisible"><a class="link" href="/destination">Enter the  Worm Hole</a></button>

</section>




<section>
  <div>
    <p><span id="mission-count">{{missionCount}}</span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <p><span id="mission-success">{{habitablePlanets}}</span></p>{{!-- insert info from ++ --}}
  </div>
</section>

<section>
  <a href="/captainslog" class="link-button">Captain's Log</a>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>
<section>
 <a class="link" href="/destination">Enter Worm Hole</a></button>
</section>

{{!-- enter in script --}}
<script src="../public/js/script.js"></script>
<script src="/js/timer.js"></script>
</main>
</body>