<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space</title>
  <link rel="stylesheet" href="../public/css/">
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/hyperspace.css">

</head>
<section>
  <h1 class="bg-matrixGreen">Light Years Travelled To Reach Planet</h1>
  <h5><span id="countdown"></span></h5>
</section>

{{!-- add in possible chance of space event occuring??? --}}


<section>
  <div>
    <h6>Missions Count:</h6>
    <p><span id="mission-count">0</span></p>{{!-- insert info from ++ --}}
  </div>
  <div>
    <h6>Missions Success:</h6>
    <p><span id="mission-success">0</span></p>{{!-- insert info from ++ --}}
  </div>
</section>
<section>
  <h6>Don't Panic</h6>
  <p></p>{{!-- insert info from ++ --}}
</section>
<section>
  <a href="/captainslog" class="link-button">Captain's Log</a>
  {{!-- make this into a link to go to the captainslog handlebar? --}}
</section>
<section>
  <button  id="portalButton" hidden="until-found" type="submit" class=""><a class="link" href="/destination">Enter Worm Hole</a></button>
</section>

{{!-- enter in script --}}
<script src="../public/js/script.js"></script>