<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper Space Login</title>
  <link href="/css/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <header class="intro flex row justify-around">
    <div class="inline-block w-2/3">
    <h1 class="welcome">Welcome to Project Hyperdrive!</h1>

    <h2 class="welcome">We need your help! Find habitable planets for the future of mankind!</h2>
</div>
</header>

<div id="accordionStart" class="logs">
  <div
    class="rounded-t-lg border border-matrixGreen">
    <h2 id="entry-page" class="mb-0" id="headingOne">
      <button
        class="group relative flex w-full items-center rounded-t-[15px] border-0 bg-grey px-5 py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-white [&:not([data-te-collapse-collapsed])]:text-primary [&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(229,231,235)] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-800 dark:[&:not([data-te-collapse-collapsed])]:text-primary-400 dark:[&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(75,85,99)]"
        type="button"
        data-te-collapse-init
        data-te-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne">
       <h4 id="login-signup" class="bg-matrixGreen">Continue your voyage to new Planets!</h4>
        <span
          class="ml-auto h-5 w-5 shrink-0 rotate-[-180deg] fill-[#00d200] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#00d200] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-matrixGreen">
        </span>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="!visible"
      data-te-collapse-item
      data-te-collapse-show
      aria-labelledby="headingOne"
      data-te-parent="#accordionStart">
      <div class="px-5 py-4">
    <div id="entry-page" class="flex  justify-center">
    <form class="bg-matrixGreen rounded px-8 pt-6 mb-4"> 
        <div class="mb-4 ml-4">
          <label class="block text-mabg-matrixGreen-700 text-sm font-bold mb-2" for="email-login"></label>
          <input
            class="shadow appearance-none border rounded w-1/5 py-2 px-3 text bg-matrixGreen-700 leading-tight focus:outline-none focus:shadow-outline ml-7"
            type="text" placeholder="Email" id="email-login" />
        </div>
    <div class="form-group mb-6">
          <label class="block text-mabg-matrixGreen-700 text-sm font-bold mb-2" for="password-login"></label>
          <input class="shadow appearance-none border rounded w-1/5 py-2 px-3 text bg-matrixGreen-700 leading-tight focus:outline-none focus:shadow-outline ml-7" type="password" placeholder="Password"
            id="password-login" />
        </div>
    <div class="form-group flex">
          <button class="login-btn btn btn-primary bg-gray-500 py-2 px-4 rounded focus:outline-none focus:shadow-outline w-1/5"
            type="button" type="submit" id="loggin-btn">Login</button>
        </div>
        </div>
     </form>
    </div>
      </div>
    </div>
  </div>
  <div
    class="border border-x-4 border-y-4 border-matrixGreen logs">
    <h2 class="mb-0" id="headingTwo">
      <button
        class="group relative flex w-full items-center rounded-none border-0 bg- px-5 py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-neutral-800 dark:text-white [&:not([data-te-collapse-collapsed])]:bg-white [&:not([data-te-collapse-collapsed])]:text-primary [&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(229,231,235)] dark:[&:not([data-te-collapse-collapsed])]:bg-neutral-800 dark:[&:not([data-te-collapse-collapsed])]:text-primary-400 dark:[&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(75,85,99)]"
        type="button"
        data-te-collapse-init
        data-te-collapse-collapsed
        data-te-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
        <h4 id="login-signup" class="bg-matrixGreen">Begin your voyage for new planets</h4>
        <span
          class="-mr-1 ml-auto h-5 w-5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
        </span>
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="!visible hidden"
      data-te-collapse-item
      aria-labelledby="headingTwo"
      data-te-parent="#accordionStart">
      <div class="px-5 py-4">
         <div>
    <div id="entry-page" class="flex row-auto justify-center">
    <form id="form sign-up form" class="bg-white rounded px-8 pt-6 mb-4"> 
        <div id="form-group" class="mb-4">
          <label class="block text-white-700 text-sm font-bold mb-2" for="email-signup"></label>
          <input
            class="shadow appearance-none border rounded w-1/5 py-2 px-3 text-white-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text" placeholder="Email" id="email-signup" />
        </div>
    <div id="form-group" class="form-group mb-6">
          <label class="block text-white-700 text-sm font-bold mb-2" for="password-signup"></label>
          <input class="shadow appearance-none border rounded w-1/5 py-2 px-3 text-white-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Password"
            id="password-signup" />
        </div>
    <div class="form-group flex">
          <button class="signup-btn btn btn-primary bg-gray-500 py-2 px-4 rounded focus:outline-none focus:shadow-outline w-1/5"
            type="button" type="submit" id="signup-btn">Signup</button>
        </div>
        </div>
    </form>
  </div>

      </div>
    </div>
  </div>
</div>

 



</body>
{{!-- enter in script --}}
 <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<script src="/js/login.js"></script>

 </html>