*{
    color: #00d200;
}

body{
    background-image: url('../assets/images/transparentHYPER.png'), url('../assets/hyperspace\ gif.gif') ;
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.link-button {
    display: inline-block;
    color: transparent;
    font-size: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    top: 30%;
    left: 50%;
}