* {
  font-family: "Pixelify Sans", sans-serif;
  color: #00d200;
  z-index: 1;
}

body {
  background-image: url("../assets/images/cockpit_transparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: 2;
}
h1 {
  color: #00d200;
}
h2 {
  color: #00d200;
}
h4 {
  color: #00d200;
}

.intro-header {
  border: #00d200 2px solid;
  width: 80vw;
  margin: 3% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-block {
  width: 100%;
}

.welcome {
  margin: 0;
}

.link-button {
  display: inline-block;
  color: transparent;
  font-size: 80px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  top: 25%;
  left: 35%;
}

#mission-count {
  position: fixed;
  background-color: transparent;
  top: 19.5%;
  left: 7%;
  font-size: 19px;
  color: #00d200;
  rotate: 20deg;
}

#mission-success {
  position: fixed;
  background-color: transparent;
  top: 24.5%;
  left: 6.3%;
  font-size: 19px;
  color: #00d200;
  rotate: 20deg;
}

#header {
  display: flex;
  position: absolute;
  justify-content: left;
  margin-left: 20px;
}

#dropdown {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}


.welcome {
  background: rgba(18, 19, 19, 0.8);
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.intro {
  border: #00d200 2px solid;
  border-radius: 5px;
  margin: 80px 300px 0px 300px;
}

.dropbtn {
  background-color: rgba(50, 235, 50, 0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 2%;
  
  border: solid 2px black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(213, 235, 237, 0.5);
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  background-color: rgba(213, 235, 237, 0.5);
  padding: 9px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: rgba(90, 160, 225, 0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(141, 154, 197, 0.5);
}

.dropdown:hover .dropbtn {
  background-color: #149018;
}

.logs {
  width: 40%;
  margin: 100px auto 60px auto;
  border-width: 2px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
}

#logs2 {
  padding: 0px;
  margin: 0px;
}

#login-signup {
  text-align: center;
}

.link-mission {
  background: transparent;
  color: transparent;
  width: 18%;
  padding: 20px;
  margin-left: 41%;
  margin-top: 25%;
  position: absolute;
  text-align: center;
}
.link-mission:hover {
  transform: scale(1.05);
}

#log-page {
  border: 2px green solid;
  background: rgba(18, 19, 19, 0.9);
  width: 60vw;
  margin: auto;
  position: absolute;
  text-align: center;
  height: 70vh;
  margin-top: 30px;
  margin-left: 20%;
  margin-bottom: 30px;
}


#visited-planets{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration:underline;
  text-underline-offset: 3px;
}
#captains-log {
  text-align: center;
  margin-top: 1%;
}

/* Log in accordion function */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
}

.accordion-btn {
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
}

.flex-container,
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  text-align: center;
}

.input-group,
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-field {
  color: #1f221f;
  background-color: #bff8bf;
  border: 2px solid #00d200;
  border-radius: 4px;
}

.input-field::placeholder {
  color: #555555;
}

.input-field:focus {
  outline: none;
  border-color: #44dd44;
}

.home {
  margin-top: 2%;
  margin-left: 10%;
  justify-content: center;
}

#hide-log{
  padding-left: 3.5%;

 
}

#logout-icon {
  color: #00d200;
  position: fixed;
  margin-top: 2%;
  margin-left: 3%;
  z-index: 999;
}