*{
  background-image: url('../assets/images/cockpit_transparent.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

h4{
  color: #00d200;
}

.link-button {
  display: inline-block;
  color: transparent;
  font-size: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  top: 30%;
  left: 50%;
}

#mission-count {
position: fixed;
top: 19.5%;
left: 7%;
font-size: 20px;
color: #00d200;
rotate: 20deg;
}

#mission-success {
position: fixed;
top: 24.5%;
left: 6.5%;
font-size: 20px;
color: #00d200;
rotate: 20deg;
}

#header{
display: flex;
justify-content:space-between;
margin: 20px;
}

.welcome{
  background: rgba(18, 19, 19, 0.8);
  padding: 20px 0px 10px 0px;
  text-align: center;
}
.intro {
  border: #00d200 2px solid;
  border-radius: 5px;
  margin: 80px 300px 0px 300px;
}

.dropbtn {
background-color: #04AA6D;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 2;
}

.dropdown-content a {
color: white;
background-color: #f1f1f1;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; background-color: green;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.logs {
  margin: 20px 300px 0px 300px;
  border-width: 2px;
  border-radius: 5px;
}

.login-logout {
  background: rgba(18, 19, 19, 0.8);
}

.login-btn{
  text-align: center;
  background-color: #00d200;
  margin: 20px 0px 0px 60px;
}

.signup-btn{
  text-align: center;
  background-color: #00d200;
  margin: 20px 0px 0px 55px;
}
