body {
  background-image: url('../assets/images/cockpit_transparent.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* color: #00d200; */
}
h1{
  color: #00d200;
}
h2{
  color: #00d200;
}
h4 {
  color: #00d200;
}

.link-button {
  display: inline-block;
  color: transparent;
  font-size: 80px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  top: 25%;
  left: 35%;
}

#mission-count {
  position: fixed;
  background-color: transparent;
  top: 19.5%;
  left: 7%;
  font-size: 19px;
  color: #00d200;
  rotate: 20deg;
}

#mission-success {
  position: fixed;
  background-color: transparent;
  top: 24.5%;
  left: 6.3%;
  font-size: 19px;
  color: #00d200;
  rotate: 20deg;
}

#header {
  display: flex;
  position: absolute;
  justify-content: left;
  margin-left: 20px;
}

#dropdown {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.welcome {
  background: rgba(18, 19, 19, 0.8);
  padding: 20px 0px 10px 0px;
  text-align: center;
}

.intro {
  border: #00d200 2px solid;
  border-radius: 5px;
  margin: 80px 300px 0px 300px;
}

.dropbtn {
  background-color: #00d200;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(213, 235, 237, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  background-color: rgba(213, 235, 237, 0.5);
  padding: 9px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #5aa0e1;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(141, 154, 197);
}

.dropdown:hover .dropbtn {
  background-color: #149018;
}


.logs {
  margin: 20px 300px 0px 300px;
  border-width: 2px;
  border-radius: 5px;
  background: rgba(18, 19, 19, 0.8);
}

#logs2 {
  padding: 0px;
  margin: 0px;
}

#login-signup {
  margin: 0px 0px 0px 20px;
  background: rgba(18, 19, 19, 0.5);
  text-align: center;
  width: 1200px;
}

.login-btn {
  text-align: center;
  background-color: #00d200;
  margin: 20px 0px 0px 60px;
}

.signup-btn {
  text-align: center;
  background-color: #00d200;
  margin: 20px 0px 0px 55px;
}

#entry-page {
  background: rgba(18, 19, 19, 0.8);
  margin: auto;
}

.link-mission {
  background:  transparent;
  color: transparent;
  width: 18%;
  padding: 20px;
  margin-left: 41%;
  margin-top: 25%;
  position: absolute;
  text-align: center;
}
.link-mission:hover {
  transform: scale(1.05); 
}
#logout-icon{
 position: fixed;
 
}
#log-page{
  border: 2px green solid;
  background:  rgba(18, 19, 19, 0.9);
  width: 60vw;
  margin: auto;
  position: absolute;
  text-align: center;
  height: 70vh;
  margin-top: 30px;
  margin-left: 20%;
}
#captains-log{
  text-align: center;
 margin-top: 5%;
  
}

button{
  background-color: none;
}